.navbar-brand {
  &:hover {
    text-decoration: none;
  }

  h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;

    @media screen and (max-width: 420px) {
      & {
        font-size: 32px;
      }
    }
  }

  .brand--thin {
    font-weight: 300;
  }
}
