.CarouselList section.carousel-section.even {
  background-color: #f6f6f6;
  background-image: none;
}

.CarouselList section.carousel-section.odd {
  background-color: #101010;
  background-image: linear-gradient(
      rgba(32, 32, 32, 0.9),
      rgba(32, 32, 32, 0.8)
    ),
    url(../../assets/images/carousel-background.jpg);
  background-size: auto;
}

.CarouselList section.carousel-section {
  padding: 0 15vw;
  position: relative;
}

.CarouselList h2.carousel-category {
  padding-top: 70px;
  padding-bottom: 20px;
  color: black;
}

.CarouselList h2.odd.carousel-category {
  color: white;
}

.book-link:hover {
  text-decoration: none;
}

/* .book-link {
  display: block;
  top: 0px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}
.book-link:before {
  content: "";
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}
.book-link:hover:before {
  transform: scale(2.15);
}
.book-link:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
} */
