.footer {
  display: grid;
  background-color: #323232;
  grid-template-columns: 1fr 3fr 1fr;
  padding-top: 30px;

  @media (max-width: 1000px) {
    & {
      grid-template-columns: 1fr 3fr;
    }
  }

  @media (max-width: 800px) {
    & {
      grid-template-columns: 1fr;
    }
  }

  .footer-categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 680px) {
      & {
        grid-template-columns: 1fr;
      }
    }
  }

  .footer-link {
    color: #707070;
    list-style-type: none;
    padding: 0;
  }

  .footer-header {
    color: #f6f6f6;
    text-transform: uppercase;
    font-size: 20px;
  }
}
