.navbar-light.navbar-nav.nav-link.Link {
  cursor: pointer;
  padding-bottom: 0px;
  padding-left: 0;
  color: white;
  text-transform: uppercase;
}

.navbar-light.navbar-nav.nav-link.Link:hover {
  color: black;
}

.navbar-light.navbar-nav.nav-link.Link.gray {
  color: #7f7f7f;
}

.navbar-light.navbar-nav.nav-link.Link.green.gray.navigation:hover {
  color: #81b820;
}

.Link.navigation {
  text-transform: capitalize;
}
